.babylook {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.babylook .babylook_head {
    height: 0.74rem;
    line-height: 0.74rem;
    text-align: center;
}

.babylook .babylook_head .babylook_nav {
    height: 0.3rem;
    display: flex;
    background: #00bb9c;
    line-height: 0.3rem;
    text-align: center;
}
.babylook_nav a {
    flex: 1;
    color: #000;
}

.babylook .babylook_main {
    overflow: auto;
    flex: 1;
}
.babylook_nav a.active {
    color: #f00;
}